{% extends 'base.html.twig' %}

{% block title %}
  New Event
{% endblock %}

{% block body %}
  <h3 class="text-center">Create new Event</h3>

  {{ include('event/_form.html.twig') }}
{% endblock %}
